.headerSection {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    border-radius: 10px;
    margin-bottom: 10px;;
    background-color: #3f5f6f;
    color: white;
    font-family: monospace;
    font-size: 20px;
    
}

.title {
    font-size: 1rem;
    cursor: pointer;
}

.center ul li {
    display: inline-flex;
    list-style: none;
    margin: 0px 13px;
    align-items: center;
    cursor: pointer;
}

.left {
    flex: 4;
    align-items: center;
    cursor: pointer;
}

.search {
    flex: 2;
    display: flex;
    justify-content: center;  
    align-items: center;  
    padding-left: 200px;
}
.search input{
    width: 300px;
    height: 20px;
    border-radius: 10px;
}

.center, .right {
    display: flex;
    flex: 6;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.signin{
    padding-left: 100px;
    cursor: pointer;
}

.bannerBox img{
    width:1560px;
    height: 190px;
    border-radius: 10px;
    cursor: pointer;
    
}

img{
    width:1560px;
    height: 190px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.menImages{
    display: flex;
}
.menImages img{
    width:243px;
    height:260px;
    margin-right: 20px;
    border-radius: 5px;
}
.womenImages{
    display: flex;
}
.womenImages img{
    width:243px;
    height:260px;
    margin-right: 20px;
    border-radius: 5px;
}
.footerContainer img{
    width:1560px;
    height: 270px;
    border-radius: 10px;
    cursor: pointer;
}
h2{
    text-align: center;
}